<!-- contact content -->
<div id="contact" class="row">
  <div class="small-12 medium-12 large-12 column">
    <div class="row-content text-center">
      <h2 class="mint">Contact Us</h2>
      <div class="icon medium-grey-div"></div>
      <div class="contact-item">
        <div class="icon mail"></div>
        <h3 class="gold-dark">Email us at rsvp@singlahabib.com</h3>
      </div>
      <div class="contact-item">
        <div class="icon insta"></div>
        <h3 class="gold-dark">Snap pics and tag us at #singlahabib</h3>
      </div>
    </div>
  </div>
</div>
<!-- /contact content -->
