<!-- Events content -->
<div id="events" class="row">
  <div class="small-12 medium-12 large-12 column">
    <div class="row-content text-center">
      <a name="events"></a>
      <h2 class="mint">Events of the day</h2>
      <div class="icon medium-grey-div"></div>
      <div id="timeline">
        <div class="event">
          <div class="timeline-circle"></div>
          <h4 class="charcoal time">17:00</h4>
          <h4 class="red">Doors open at The Spoke Club</h4>
          <h5>600 King St. W (Portland Room, 2nd floor)</h5>
          <p>We love this 100 year old building - a block away from our home, no less! </p>
          <div class="actions">
            <a href="#" class="red"><div class="icon parking"></div> Here's where you can park</a>
            <a href="#" class="red"><div class="icon directions"></div> Get directions to the venue</a>
          </div>
        </div>

        <div class="event">
          <div class="timeline-circle"></div>
          <h4 class="charcoal time">17:30</h4>
          <h4 class="red">Wedding Ceremony</h4>
          <h5>The Spoke Club - Portland Room, 2nd floor</h5>
          <p>Officiated by the lovely Helen Sweet.</p>
        </div>

        <div class="event">
          <div class="timeline-circle"></div>
          <h4 class="charcoal time">18:00</h4>
          <h4 class="red">Cocktail time!</h4>
          <h5>The Spoke Club - Portland Room, 2nd floor</h5>
          <p>Unless something goes horribly wrong, we will be Mr & Mrs by this point - so let’s start celebrating! We may need to go take a few pictures in the snow, but otherwise, we’ll be getting our cocktail on.</p>
        </div>

        <div class="event">
          <div class="timeline-circle"></div>
          <h4 class="charcoal time">19:30</h4>
          <h4 class="red">Delicious Dinner Mm Mm Mmmm</h4>
          <h5>The Spoke Club - Dining Room, 4th floor</h5>
          <p>Unless something goes horribly wrong, we will be Mr & Mrs by this point - so let’s start celebrating! We may need to go take a few pictures in the snow, but otherwise, we’ll be getting our cocktail on.</p>
        </div>

        <div class="event">
          <div class="timeline-circle"></div>
          <h4 class="charcoal time">21:30</h4>
          <h4 class="red">Reception & Party</h4>
          <h5>The Spoke Club - Portland Room, 2nd floor</h5>
          <p>What to expect: delicious dessert table, funny-moving speeches, ping-pong showdowns and lots of non-injury-inducing-dancing (DJ Agile will bring it)</p>
        </div>

        <div class="event last">
          <div class="timeline-circle"></div>
          <h4 class="charcoal time">2:30</h4>
          <h4 class="red">After Party</h4>
          <h5>TBD</h5>
          <p>Like a rave of the early 00’s, you will be advised of the location day of.</p>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- / Events content -->
