<!-- Intro content -->
<div id="intro" class="row">
  <div class="small-12 medium-12 large-12 column">
    <img class="row-image" data-interchange="[images/bg-intro2-mobile.jpg, (default)], [images/bg-intro2-tablet.jpg, (medium)], [images/bg-intro2-desktop.jpg, (large)]">
    <div class="row-content with-background text-center">
      <h1 class="white intro-title show-for-medium-up">Caroline Habib & Arvin Singla</h1>
      <h2 class="white intro-title show-for-small-only">Caroline & Arvin</h2>
      <h3 class="white subtitle show-for-medium-up">are getting married december 28th, 2014 in Toronto</h3>
      <h4 class="white subtitle show-for-small-only">are getting married<br/>december 28th, 2014 in Toronto</h4>
      <a href="#" class="button wide button-modal secondary" data-modal="rsvp"><span>Go ahead and RSVP here!</span><span>Just do it!</span></a>
    </div>
  </div>
</div>
<!-- /Intro content -->
