<!-- Menu -->
<div class="fixed menu">
  <nav>
    <!-- <div class="icon logo-desktop"></div> -->
    <label for="show-menu" class="show-menu">Menu</label>
    <input type="checkbox" id="show-menu">
    <div class="icon logo-mobile"></div>
    <div class="icon logo-desktop"></div>
    <ul id="menu-items">
      <li><a href="#events">Events of the Day</a></li>
      <li><a href="#accommodation">Accommodations</a></li>
      <li><a href="#wondering">Wonderings</a></li>
      <li><a href="#thingstodo">Things to do</a></li>
      <li><a href="#" class="menu-rsvp" data-modal="rsvp">RSVP</a></li>
    </ul>
  </nav>
</div>
<!-- /menu -->
