<!-- Outro content -->
<div id="outro" class="row">
  <div class="small-12 medium-12 large-12 column">
    <img class="row-image" data-interchange="[images/bg-outro-mobile.jpg, (default)], [images/bg-outro-tablet.jpg, (medium)], [images/bg-outro-desktop.jpg, (large)]">
    <div class="row-content with-background text-center">
      <div class="icon medium-white-div"></div>
      <h2 class="white">We hope to see you there!</h2>
      <div class="icon medium-white-div"></div>
    </div>
    <p class="acknowledgements">
      Photos courtesy of the magnificent <a href="http://www.urgencycompany.com/" target="_BLANK">Jason Gilmore</a>.<br/>Website design and layout by <a href="https://dribbble.com/andsem" target="_BLANK">Andrew Semuschak</a> a gentleman and a scholar.
    </p>
  </div>
</div>
<!-- /Outro content -->
