<!-- RSVP form -->
<div id="rsvp" class="row">

  <a href="#" class="rsvp-close icon close">Close</a>

  <div id="rsvp-thankyou">
    <div class="icon checkmark"></div>
    <h3>Thank you for RSVPing</h3>
  </div>
  <div id="rsvp-error">
    <h3>An error occurred :(<h3>
    <h4>Please reload the page and try again.</h4>
  </div>

  <div class="small-12 medium-6 large-4 large-centered medium-centered columns">
    <div class="row-content text-center">
      <form id="rsvp-form" data-parsley-validate class="test">
        <h2 class="mint">RSVP</h2>

        <div class="radio-group two-items form-group going-group">
          <input type="radio" name="going" value="yes" id="going" required data-parsley-errors-messages-disabled data-parsley-group='["going", "not-going", "going-plusone"]'><label for="going">I'm attending</label>
          <input type="radio" name="going" value="no" id="not-going" required><label for="not-going">I'm not attending</label>
        </div>
        <div class="radio-group two-items form-group plusone">
          <input type="radio" name="plusone" value="yes" id="plusone" required data-parsley-errors-messages-disabled data-parsley-group='["going", "going-plusone"]'><label for="plusone">I'm bringing someone</label>
          <input type="radio" name="plusone" value="no" id="no-plusone" required><label for="no-plusone">I'm flying solo</label>
        </div>

        <div id="your-details">
          <h3>Your details</h3>
          <input type="text" placeholder="Full Name" name="guest-name" required data-parsley-errors-messages-disabled data-parsley-group='["going", "not-going", "going-plusone"]'/>
          <input id="guest-address" class="your-details-going" type="textarea" placeholder="Full Mailing Address" name="guest-address" required data-parsley-errors-messages-disabled data-parsley-group='["going", "going-plusone"]'/>
          <textarea id="guest-notes" rows="3" cols="35" placeholder="Notes / Special considerations" name="guest-notes"></textarea>
          <div class="radio-group three-items form-group your-details-going" id="guest-meal">
            <input type="radio" name="guest-meal" value="beef" id="guest-meal-beef" required data-parsley-errors-messages-disabled data-parsley-group='["going", "going-plusone"]'><label for="guest-meal-beef">Beef</label>
            <input type="radio" name="guest-meal" value="fish" id="guest-meal-fish" required><label for="guest-meal-fish">Fish</label>
            <input type="radio" name="guest-meal" value="vegetarian" id="guest-meal-vegetarian" required><label for="guest-meal-vegetarian">Vegetarian</label>
          </div>
        </div>

        <div id="plusone-details">
          <h3>Your guest details</h3>
          <input type="text" placeholder="Full Name" name="plusone-name" required data-parsley-errors-messages-disabled data-parsley-group='["going-plusone"]'/>
          <div class="radio-group three-items form-group" id="plusone-meal">
            <input type="radio" name="plusone-meal" value="beef" id="plusone-meal-beef" required data-parsley-errors-messages-disabled data-parsley-group='["going-plusone"]'><label for="plusone-meal-beef">Beef</label>
            <input type="radio" name="plusone-meal" value="fish" id="plusone-meal-fish" required><label for="plusone-meal-fish">Fish</label>
            <input type="radio" name="plusone-meal" value="vegetarian" id="plusone-meal-vegetarian" required><label for="plusone-meal-vegetarian">Vegetarian</label>
          </div>
        </div>

        <button class="form-group ladda-button rsvp-submit" data-style="expand-left">
          <span class="ladda-label">Confirm your reservation</span>
        </button>
      </form>
    </div>
  </div>
</div>
<!-- /RSVP form -->
