<!-- Table content -->
<div id="table" class="row">

  <div class="small-12 medium-12 large-12 column">
    <div class="row-content text-center">
      <h2 class="intro-title">Caroline & Arvin</h2>
      <h4 class="subtitle">dinner table seating</h4>
      <input type="text" id="search-text" placeholder="Type your name to filter the list...">
      <table id="table-search">
        <thead>
          <tr>
            <th class="table-name">Name</th>
            <th>Table #</th>
          </tr>
        </thead>
        <tbody id="table-items">
          {{#eachByName table}}
            <tr>
              <td class="table-name">{{name}}</td>
              <td class="table-number">{{table}}</td>
            </tr>
          {{/eachByName}}
        </tbody>
      </table>
    </div>
  </div>
</div>
