<!-- Thingstodo content -->
<div id="thingstodo" class="row">
  <div class="small-12 medium-12 large-12 column">
    <div class="slider-constant-text">
      <a name="thingstodo"></a>
      <h4 class="white">Things to do while you're in Toronto</h4>
      <div class="icon long-white-div"></div>
    </div>
    <div class="flexslider">
      <ul class="slides">
        <li class="slide-queen">
          <img class="row-image" data-interchange="[images/bg-slide1-mobile.jpg, (default)], [images/bg-slide1-tablet.jpg, (medium)], [images/bg-slide1-desktop.jpg, (large)]">
          <div class="slide-wrapper">
            <h2 class="gold">#1 Shopping on Queen Street West</h2>
            <p class="white show-for-medium-up">Men and women clothing stores are hard to resist on this trip! The best shopping is between Bathurst and Bellwoods.</p>
          </div>
        </li>
        <li class="slide-ripleys">
          <img class="row-image" data-interchange="[images/bg-slide3-mobile.jpg, (default)], [images/bg-slide3-tablet.jpg, (medium)], [images/bg-slide3-desktop.jpg, (large)]">
          <div class="slide-wrapper">
            <h2 class="gold">#2 Ripleys Aquarium of Canada</h2>
            <p class="white show-for-medium-up">Recently opened, this aquarium is tons of fun - especially for families. You can even pet a stingray! What!</p>
          </div>
        </li>
        <li class="slide-tiff">
          <img class="row-image" data-interchange="[images/bg-slide4-mobile.jpg, (default)], [images/bg-slide4-tablet.jpg, (medium)], [images/bg-slide4-desktop.jpg, (large)]">
          <div class="slide-wrapper">
            <h2 class="gold">#3 TIFF Bell Lightbox</h2>
            <p class="white show-for-medium-up">The mecca of the Toronto Film Festival! If you have a few hours to spare in a dark room, this place hosts the best of art house cinema. Also, they are hosting a <a href="http://www.tiff.net/exhibitions/upcoming-exhibitions/stanley-kubrick-exhibition" target="_BLANK">Stanley Kubrick</a> exhibition!</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /Thingstodo content -->
