<!-- Wondering content -->
<div id="wondering" class="row">
  <div class="small-12 medium-12 large-12 column">
    <div class="row-content text-center">
      <a name="wondering"></a>
      <h2 class="mint">Things you may be wondering</h1>
      <div class="icon medium-grey-div"></div>
      <div class="wondering-item">
        <div class="icon present"></div>
        <h3 class="gold-dark">What about the gifts?</h3>
        <p>Living in très cool Toronto core, we cultivate a minimalist lifestyle (you kind of have to in 800 square feet). We thought of registering but couldn't come up with anything we needed or wanted. Your presence is our gift, but were you so generous to get us something, we would kindly ask please no boxed gifts.</p>
      </div>
      <div class="wondering-item">
        <div class="icon kids"></div>
        <h3 class="gold-dark">What about the kids?</h3>
        <p>We recognize that a number of our friends and family who are traveling from out of town have little ones. The venue we've chosen isn't well suited for kids so we are opting for an adult only event. Please advise us in advance if this poses a problem and we will help arrange alternate plans at the wedding.</p>
      </div>
      <div class="wondering-item">
        <div class="icon present"></div>
        <h3 class="gold-dark">What about the bridal parties?</h3>
        <p>We decided to each choose one friend to stand by our sides on this day. Oh, and an exquisite little girl to throw some flowers!<p>
        <p><strong>Ben Van Dongen</strong> - Best man & witness. “I met Ben in grade 9 and he’s been my brother from another mother since.“ - Arvin.</p>
        <p><strong>Justine Noiseux</strong> - Maid of honor & witness. “I’ve known this beautiful girl since 1992 - She has the biggest, kindest heart of anyone I know. And she’s always made me laugh till i pee.” - Caroline</p>
        <p><strong>Lou Habib</strong> as the Flower girl. “Every morning, we wake up to her exquisite rendition of the classic “I like to move it” as our alarm clock tone. Of course she’s our flower girl” - Caroline  & Arvin</p>
      </div>
    </div>
  </div>
</div>
<!-- /Wondering content -->
