<!-- Wondering content -->
<div id="wondering" class="row">
  <div class="small-12 medium-12 large-12 column">
    <div class="row-content text-center">
      <a name="wondering"></a>
      <h2 class="mint">Things you may be wondering</h1>
      <div class="icon medium-grey-div"></div>
      <div class="wondering-item">
        <div class="icon present"></div>
        <h3 class="gold-dark">What about the gifts?</h3>
        <p>Living in the très cool Toronto core, we cultivate a minimalist lifestyle (you have to in 800 square feet). We thought of registering but couldn't come up with anything we needed or wanted. Your presence is our gift, but were you so generous to get us something, we would kindly ask please no boxed gifts.</p>
      </div>
      <div class="wondering-item">
        <div class="icon kids"></div>
        <h3 class="gold-dark">What about the kids?</h3>
        <p>The venue we've chosen isn't ideal for kids. However we recognize that a number of our friends and family who are traveling have little ones. If you cannot make other arrangements kindly let us know and we will make sure to keep them entertained at the event.</p>
      </div>
      <div class="wondering-item wedding-party">
        <div class="icon weddingparty"></div>
        <h3 class="gold-dark">What about the wedding party?</h3>
        <p>We each decided to choose one dear friend to stand by our side on this day. Oh, and an exquisite little girl to throw some flowers!</p>
        <p><strong>Ben Van Dongen</strong> - Best man & Witness<br/> “I met Ben in grade 9 and he’s been a thorn in my side ever since.“ - Arvin.</p>
        <p><strong>Justine Noiseux</strong> - Maid of honor & Witness<br/> "She's a Lady. Whoa whoa whoa, She's a Lady." - Caroline</p>
        <p><strong>Lou Habib</strong> - The Flower girl<br/>“Every morning, we wake up to her exquisite rendition of the classic <a href="#" class="move-it-trigger">"I like to move it"</a> as our alarm clock tone. Of course she’s our flower girl” - Caroline  & Arvin</p>
        <div class="move-it-player hide">
          <audio controls>
            <source src="misc/move-it-move-it.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Wondering content -->
