.fixed.top-bar-container {
  z-index: 1000;
  border-bottom: 1px solid $light-grey;
}

nav.top-bar {
  div.logo-desktop {
    display: inline-block;
    margin-top: rem-calc(23px);
  }
  ul.title-area {
    padding-left: 10%;
  }
  section.top-bar-section {
    ul.right {
      padding-right: 10%;
    }
  }
}

@media #{$small-only} {
  nav.top-bar {
    height: rem-calc(60px);
    line-height: rem-calc(60px);
    section.top-bar-section {
      ul.right {
        padding-right: 0;
      }
    }
    .top-bar-section ul li {
      background: $white;
      text-align: center;
    }
    .top-bar-section ul li > a {
      padding-left: 0;
    }
  }
}
