.menu.fixed {
  z-index: 1000;
}

.menu nav {
  height: rem-calc(60px);
  padding: 0;
  background-color: rgba(255,255,255,0.97);
  border-bottom: 1px solid $light-grey;
  position: relative;
  ul {
    position: absolute;
    top: rem-calc(60px);
    display: none;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      width: 100%;
      background: $white;
      a {
        line-height: rem-calc(40px);
        width: 100%;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
  a:link,
  a:visited {
    color: $charcoal;
  }
  a:hover {
    color: $mint;
  }
  .show-menu {
    display: block;
    width: 100%;
    line-height: rem-calc(60px);
    text-align: center;
    font-family: $font-tisa;
    cursor: pointer;
    text-transform: uppercase;
    z-index: 1001;
    &:after {
      @include css-triangle(7px, $grey, top);
      position: absolute;
      top: 45%;
      left: 59%;
    }
  }
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox]:checked ~ #menu-items {
    display: block;
  }
  .logo-mobile {
    position: absolute;
    left: 0;
    right: 0;
    top: rem-calc(15px);
    z-index: 1000;
    display: block;
    cursor: pointer;
  }
  .logo-desktop {
    position: absolute;
    top: rem-calc(20px);
    display: none;
  }
}

@media #{$medium-only} {
  .menu nav {
    .show-menu {
      &:after {
        left: 53%;
      }
    }
  }
}

@media #{$large-up} {
  .menu nav {
    height: rem-calc(75px);
    padding: 0 15%;
    ul {
      top: 0;
      display: block;
      float: right;
      width: initial;
      position: relative;
      li {
        display: inline-block;
        padding: 0 rem-calc(10px);
        width: initial;
        background: none;
        a {
          line-height: rem-calc(75px);
          &.menu-rsvp {
            line-height: rem-calc(40px);
            background: $mint;
            @include border-radius($button-radius);
            padding: 0 rem-calc(40px);
            &:link,
            &:visited {
              color: $white;
            }
            &:hover {
              color: $charcoal;
            }
          }
        }
      }
    }
    .logo-mobile,
    .show-menu {
      display: none;
    }
    .logo-desktop {
      display: block;
    }
  }
}
