/**
 * Typography
 */

.white { color: $white; }
.red { color: $red; }
.cherry { color: $cherry; }
.mint { color: $mint; }
.gold { color: $gold; }
.gold-dark { color: $gold-dark; }
.grey { color: $grey; }
.charcoal { color: $charcoal; }

@font-face {
  font-family: $font-sun;
  src: url(fonts/A_DAY_WITHOUT_SUN.otf);
}

h1 {
  font-size: rem-calc(125px);
  font-family: $font-sun;
  text-transform: uppercase;
  font-weight: lighter;
}
h2 {
  font-family: $font-sun;
  font-size: rem-calc(90px);
  text-transform: uppercase;
  font-weight: lighter;
}
h3 {
  font-family: $font-tisa;
  font-size: rem-calc(24px);
  font-weight: 400;
}
h4 {
  font-family: $font-tisa;
  font-size: rem-calc(16px);
  letter-spacing: rem-calc(2px);
}
h5 {
  font-family: $font-tisa;
  font-size: rem-calc(14px);
  letter-spacing: rem-calc(2px);
}

p {
  color: $grey;
  font-family: $font-tisa;
  line-height: 1.85rem;
}

a {
  &:link {
    font-size: rem-calc(13px);
    font-weight: bold;
    text-decoration: none;
    font-family: $font-tisa;
    line-height: rem-calc(16px);
    display: inline-block;
  }
}

a:link.tel {
  color: $red;
}

@media #{$small-only} {
  h2 {
    font-size: rem-calc(60px);
  }
}
